body {
  margin: 0;
  padding: 0;
  /* background-image: url('../images/winamax-stade.jpeg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* Ajout de la propriété pour empêcher le fond de se répéter */
  height: 100vh;
  width: 100vw;
}

.background-component {
  margin: 0;
  padding: 0;
  background-image: url('../images/tennnis.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* Ajout de la propriété pour empêcher le fond de se répéter */
  background-attachment: fixed;
  /* Le fond reste fixe malgré le scroll */
  height: 100vh;
  width: 100%;
  overflow-y: auto;
}

.wizard{
  margin: 0;
  padding: 0;
  background-image: url('../images/fond-winamax.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* Ajout de la propriété pour empêcher le fond de se répéter */
  background-attachment: fixed;
  /* Le fond reste fixe malgré le scroll */
  height: 100vh;
  width: 100%;
  overflow-y: auto;
}
.opak{
  opacity: 0.6;
}

.min-height {
  min-height: 200px; /* Vous pouvez ajuster la hauteur minimale selon vos besoins */
}

.m-l-3 {
  margin-left: 3px;
}
.m-r-3 {
  margin-right: 3px;
}

.flag-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%; /* This gives a 16:9 aspect ratio, adjust as needed */
  overflow: hidden;
  border-radius: 10px; /* Optional, to round the corners */
}

.flag-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.5; /* Adjust for desired opacity level */
}

.player-image {
  position: absolute;
  width: 14%; /* Adjust size as needed */
  height: auto;
  top: 77%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 50%; /* Make the player's image round */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional, for a shadow effect */
}


.custom-round{
   width: '50px';
    height: '50px';
    object-fit: 'cover'
}

.full-height {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@keyframes exampleAnimation {
  0% {
      opacity: 0;
      transform: translateX(-20px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

.text-primary {
  color: blue;
  transition: color 0.5s;
}

.animated-item {
  animation: exampleAnimation 0.5s ease-out forwards;
}

.spinner-container {
          display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Adjust as needed */
        }
        .spinner {
            border: 8px solid rgba(0, 0, 0, 0.1);
            border-left-color: #09f;
            border-radius: 50%;
            width: 64px;
            height: 64px;
            animation: spin 1s linear infinite;
        }
        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        } 